
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

div#header {
    background: lightblue;
    margin-bottom: 10px;
    padding: 0;
}

div#header h1 {
    font-size: 50px;
    margin: 0;
    padding: 7px;
    font-family: 'Muli', sans-serif;
}

div.query {
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    font-size: 17px;
    margin: 0;
    margin-bottom: 50px;
    border: 0;
    background-color: #d9d9d9;
    padding-bottom: 30px;
}


table.recipe tr td{
    padding: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

table.recipe tr:nth-child(odd) {
    background-color: #0161AB;
    color: white;
}
table.recipe tr:nth-child(even) {
    background-color: white;
    color: black;
}

input[type=submit] {
     background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 6px;
}



